footer.footer
  .wrapper
    .footer-top
      a(href="#").header__logo
      nav.footer-menu
        .footer-menu-col
          .col
            a(href="#").footer-menu__item Поддержка
            a(href="#").footer-menu__item Проекты
            a(href="#").footer-menu__item Календарь
            a(href="#").footer-menu__item О фонде
          .col
            a(href="#").footer-menu__item Официально
            a(href="#").footer-menu__item Руководство
            a(href="#").footer-menu__item Миссия
        .footer-menu-col
          .col
            a(href="#").footer-menu__item История
            a(href="#").footer-menu__item Антикоррупционная экспертиза
            a(href="#").footer-menu__item Партнеры
            a(href="#").footer-menu__item СМИ о нас
          .col
            a(href="#").footer-menu__item Новости
            a(href="#").footer-menu__item Вакансии
            a(href="#").footer-menu__item Контакты
      .footer-right
        .col
          a(href="#").header-row.map г. Ханты-Мансийск,<br>ул. Пионерская, д. 14
        .col
          a(href="#").header-row.phone 8 (3467) 35-60-30
          a(href="#").header-row.mail fond@sb-ugra.ru
        .col
          .footer-social
            a(href="#").header-row.fb
            a(href="#").header-row.vk
            a(href="#").header-row.insta
            a(href="#").header-row.youtube
          a(href="#").button.full.with-opacity.bold-bord Написать сообщение
    .footer-bottom
      .left
        a(href="#").header__logo
      .middle 2013 Фонд поддержки предпринимательства Югры
      .right Разработка и техподдержка сайта: <a href="#" class="uw">Югорские Интернет Решения</a>
