header.header
  .header-top
    .wrapper
      a(href="#").header__logo.mobile__logo
      a(href="#").header-row.phone
        span 8 800 101 01 01
      a(href="#").header-row.map
        span Показать на карте
      a(href="#").header-row.slow
        span Версия для слабовидящих
      a(href="#").header-row.search
        span Поиск по сайту
      a(href="#").header-row.fb
      a(href="#").header-row.vk
      a(href="#").header-row.insta
      a(href="#").header-row.youtube
      button(type="button").mobile__button.js-mobile
        span
        span
        span
        span
  .header-bottom
    .wrapper
      .header-bottom-left
        a(href="#").header__logo
        .header-desc Помощь — начинающим, <b>поддержка — успешным!</b>
      .header-bottom-right
        include menu
        a(href="#").button.blue.big Задать вопрос
