nav.menu
  ul
    li(class= (isMobile) ? 'active' : '' )
      a(href="#") О фонде
      .menu-hidden
        .menu-hidden-inner
          .wrapper
            .col-3.fadein
              .menu-item.with-desc
                a(href="#") Официально
                p Информация о деятельности Фонда поддержки предпринимательства Югры
              .menu-item.with-desc
                a(href="#") Антикоррупционная экспертиза
                p Описание пункта меню, который необходимо выделить на фоне остальных
            .col-3.flex.space-b.fadein.fadein-delay-1
              .col-2
                .menu-item
                  a(href="#") Руководство
                .menu-item
                  a(href="#") Миссия
                .menu-item
                  a(href="#") История
                .menu-item
                  a(href="#") Партнеры
              .col-2
                .menu-item
                  a(href="#") СМИ о нас
                .menu-item
                  a(href="#") Новости
                .menu-item
                  a(href="#") Вакансии
                .menu-item
                  a(href="#") Контакты
            .col-3.fadein.fadein-delay-2
              .competition(style="background-image: url('images/slider-1.png')")
                span Прими участие в главном конкурсе Югры
                  a(href="#").button Узнать больше
    li
      a(href="#") Поддержка
      .menu-hidden
        .menu-hidden-inner
          .wrapper
            .col-3.fadein
              .menu-item.with-desc
                a(href="#") Финансовая поддержка
                ul.list
                  li Предоставленние поручительств
                  li Компенсация части затрат по уплате лизинговых платежей
                  li Компенсация банковской процентной ставки
                  li Компенсация части затрат по обучению
            .col-3.fadein.fadein-delay-1
              .menu-item.with-desc
                a(href="#") Образовательная поддержка
                p Организация Фондом безвозмездных образовательных мероприятий
              .menu-item.with-desc
                a(href="#") Информационно-консультационная поддержка
                p В 2017 году Фондом предоставлено 10 434 консультации
            .col-3.fadein.fadein-delay-2
              .menu-item.with-desc
                a(href="#") Имущественная поддержка
                p В 2017 году имущественную поддержку получили 76 субьекта
              .menu-item.with-desc
                a(href="#").external Поддержка социально-ориентированной деятельности
                p Описание пункта меню, который необходимо выделить на фоне остальных
    li
      a(href="#") Проекты
      .menu-hidden
        .menu-hidden-inner
          .wrapper.projects-block
            .projects-filter.fadein
              .projects-filter-left
                .projects-filter__button.active Все
                button(type="button").projects-filter__button События
                button(type="button").projects-filter__button Конкурсы
              .projects-filter-right
                button(type="button").projects-filter__button Все
                  span 9
                .projects-filter__button.active Старт
                  span 6
                button(type="button").projects-filter__button Развитие
                  span 2
                button(type="button").projects-filter__button Бизнес
                  span 1
            .projects.fadein.fadein-delay-1.js-scrollbar
              a(href="#").projects__item
                .projects__item-title Азбука Бизнеса
                .projects__item-bottom
                  .date 02.02.2018
                  span.delimiter
                  .green Старт
              a(href="#").projects__item
                .projects__item-title Факультет бизнеса
                .projects__item-bottom
                  .date 02.02.2018
                  span.delimiter
                  .green Старт
              a(href="#").projects__item
                .projects__item-title
                  | Региональный этап Всероссийского конкурса «Молодой предприниматель России»
                .projects__item-bottom
                  .date 02.02.2018
                  span.delimiter
                  .green Конкурс
              a(href="#").projects__item
                .projects__item-title Слёт молодых предпринимателей
                .projects__item-bottom
                  .date 02.02.2018
                  span.delimiter
                  .green Событие
              a(href="#").projects__item
                .projects__item-title Школа сервиса
                .projects__item-bottom
                  .date 02.02.2018
                  .delimiter
                  .green Старт
              a(href="#").projects__item
                .projects__item-title Бизнес наставничество в Югре
                .projects__item-bottom
                  .date 02.02.2018
                  span.delimiter
                  .green Старт
                  .delimiter
                  .green Бизнес
              a(href="#").projects__item
                .projects__item-title
                  | Адаптация молодых людей, отбывающих наказание в местах лишения свободы
                .projects__item-bottom
                  .date 02.02.2018
                  .delimiter
                  .green Старт
              a(href="#").projects__item
                .projects__item-title Бизнес Инвестиции
                .projects__item-bottom
                  .date 02.02.2018
                  .delimiter
                  .green Развитие
              a(href="#").projects__item
                .projects__item-title Фабрика деловых решений
                .projects__item-bottom
                  .date 02.02.2018
                  .delimiter
                  .green Старт
              a(href="#").projects__item
                .projects__item-title Кубок «Точка роста»
                .projects__item-bottom
                  .date 02.02.2018
                  .delimiter
                  .green Конкурс
              a(href="#").projects__item
                .projects__item-title Дни предпринимательства в Югре
                .projects__item-bottom
                  .date 02.02.2018
                  .delimiter
                  .green Событие
              a(href="#").projects__item
                .projects__item-title Конкурс творческих работ «Предпринимательство сегодня»
                .projects__item-bottom
                  .date 02.02.2018
                  .delimiter
                  .green Конкурс
              a(href="#").projects__item
                .projects__item-title Наставничество
                .projects__item-bottom
                  .date 02.02.2018
                  .delimiter
                  .green Развитие
              a(href="#").projects__item
                .projects__item-title Форум предпринимателей
                .projects__item-bottom
                  .date 02.02.2018
                  .delimiter
                  .green Событие
              a(href="#").projects__item
                .projects__item-title Региональная конференция предпринимателей
                .projects__item-bottom
                  .date 02.02.2018
                  .delimiter
                  .green Событие
              a(href="#").projects__item
                .projects__item-title Конкурс журналистского мастерства
                .projects__item-bottom
                  .date 02.02.2018
                  .delimiter
                  .green Конкурс
    li
      a(href="#") Календарь
    li
      a(href="#").more
