.pag
  a(href="#").pag__item.prev
  span.pag__item 1
  a(href="#").pag__item 2
  a(href="#").pag__item 3
  a(href="#").pag__item 4
  a(href="#").pag__item 5
  span.pag__item …
  a(href="#").pag__item 18
  a(href="#").pag__item.next
