extends layout

include mixins/breadcrumbs

block content

  main.main.detail
    .wrapper
      include includes/detail-menu
      +breadcrumbs('Главная', 'О фонде', 'История')
      h1 История

      .history
        .history-years.js-scrollbar
          button(type="button", data-target="#year-2016").history__button.js-history.active 2016
          button(type="button", data-target="#year-2015").history__button.js-history 2015
          button(type="button", data-target="#year-2014").history__button.js-history 2014
          button(type="button", data-target="#year-2013").history__button.js-history 2013
          button(type="button", data-target="#year-2012").history__button.js-history 2012
          button(type="button", data-target="#year-2011").history__button.js-history 2011
          button(type="button", data-target="#year-2010").history__button.js-history 2010
          button(type="button", data-target="#year-2009").history__button.js-history 2009
          button(type="button", data-target="#year-2008").history__button.js-history 2008
          button(type="button", data-target="#year-2007").history__button.js-history 2007
          button(type="button", data-target="#year-2006").history__button.js-history 2006
          button(type="button", data-target="#year-2005").history__button.js-history 2005
          button(type="button", data-target="#year-2004").history__button.js-history 2004
          button(type="button", data-target="#year-2003").history__button.js-history 2003
        section#year-2016(hidden).show
          h4 Секция 2016го года
          p.
            Эффективность деятельности Фонда подтверждена высокой оценкой рейтингового
            агентства RAEX («Эксперт РА»). В феврале 2016 года Фонду подтвержден рейтинг
            надежности гарантийного покрытия на уровне «А+» «Очень высокий уровень
            надежности гарантийного покрытия», первый подуровень, прогноз по рейтингу
            «стабильный».
          p.
            В 2016 году Фондом предоставлено поручительств перед кредитными организациями
            по 63 предпринимательским проектам (в сравнение с 2015 годом динамика
            составила – плюс 26%) в объеме 606 381,02 тыс. рублей (в сравнение с
            2015 годом динамика составила – плюс 149%), что обеспечило привлечение
            на их реализацию 1 119 847,13 тыс. рублей банковских кредитных средств
            (в сравнение с 2015 годом динамика составила – плюс 125%).
          p.
            Денежные средства, полученные субъектами малого и среднего предпринимательства,
            способствовали повышению устойчивости компаний, позволили создать 802 новых
            рабочих места и сохранить существующие.
          p.
            С целью развития молодёжного предпринимательства проведен региональный этап
            Всероссийского конкурса «Молодой предприниматель России». На участие в
            мероприятии подали заявки 52 молодых предпринимателя. 3 победителя
            регионального этапа прошли в финал Всероссийского этапа, 1 – стал победителем
            в номинации «Открытие года».
        section#year-2015(hidden)
          h4 Секция 2015го года
          p.
            Эффективность деятельности Фонда подтверждена высокой оценкой рейтингового
            агентства RAEX («Эксперт РА»). В феврале 2016 года Фонду подтвержден рейтинг
            надежности гарантийного покрытия на уровне «А+» «Очень высокий уровень
            надежности гарантийного покрытия», первый подуровень, прогноз по рейтингу
            «стабильный».
          p.
            В 2016 году Фондом предоставлено поручительств перед кредитными организациями
            по 63 предпринимательским проектам (в сравнение с 2015 годом динамика
            составила – плюс 26%) в объеме 606 381,02 тыс. рублей (в сравнение с
            2015 годом динамика составила – плюс 149%), что обеспечило привлечение
            на их реализацию 1 119 847,13 тыс. рублей банковских кредитных средств
            (в сравнение с 2015 годом динамика составила – плюс 125%).
          p.
            Денежные средства, полученные субъектами малого и среднего предпринимательства,
            способствовали повышению устойчивости компаний, позволили создать 802 новых
            рабочих места и сохранить существующие.
        section#year-2014(hidden)
          h4 Секция 2014го года
          p.
            Эффективность деятельности Фонда подтверждена высокой оценкой рейтингового
            агентства RAEX («Эксперт РА»). В феврале 2016 года Фонду подтвержден рейтинг
            надежности гарантийного покрытия на уровне «А+» «Очень высокий уровень
            надежности гарантийного покрытия», первый подуровень, прогноз по рейтингу
            «стабильный».
          p.
            В 2016 году Фондом предоставлено поручительств перед кредитными организациями
            по 63 предпринимательским проектам (в сравнение с 2015 годом динамика
            составила – плюс 26%) в объеме 606 381,02 тыс. рублей (в сравнение с
            2015 годом динамика составила – плюс 149%), что обеспечило привлечение
            на их реализацию 1 119 847,13 тыс. рублей банковских кредитных средств
            (в сравнение с 2015 годом динамика составила – плюс 125%).
          p.
            Денежные средства, полученные субъектами малого и среднего предпринимательства,
            способствовали повышению устойчивости компаний, позволили создать 802 новых
            рабочих места и сохранить существующие.
          p.
            С целью развития молодёжного предпринимательства проведен региональный этап
            Всероссийского конкурса «Молодой предприниматель России». На участие в
            мероприятии подали заявки 52 молодых предпринимателя. 3 победителя
            регионального этапа прошли в финал Всероссийского этапа, 1 – стал победителем
            в номинации «Открытие года».
          p.
            В 2016 году Фондом предоставлено поручительств перед кредитными организациями
            по 63 предпринимательским проектам (в сравнение с 2015 годом динамика
            составила – плюс 26%) в объеме 606 381,02 тыс. рублей (в сравнение с
            2015 годом динамика составила – плюс 149%), что обеспечило привлечение
            на их реализацию 1 119 847,13 тыс. рублей банковских кредитных средств
            (в сравнение с 2015 годом динамика составила – плюс 125%).
