-
  var meta = [
    {
      name: 'viewport',
      content: 'width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui'
    },
    {
      name: 'apple-mobile-web-app-capable',
      content: 'yes'
    },
    {
      name: 'apple-mobile-web-app-status-bar-style',
      content: 'black'
    }
  ]

  var pages = [
    {
      label: 'Главная',
      name: 'main'
    },
    {
      label: 'Стайлгайд',
      name: 'style-guide'
    },
    {
      label: 'Новости',
      name: 'news'
    },
    {
      label: 'Новости (детальная)',
      name: 'news-detail'
    },
    {
      label: 'СМИ о нас',
      name: 'press'
    },
    {
      label: 'Партнеры',
      name: 'partners'
    },
    {
      label: 'Вакансии',
      name: 'vacancies'
    },
    {
      label: 'Контакты',
      name: 'contacts'
    },
    {
      label: 'История',
      name: 'history'
    },
    {
      label: 'Поддержка',
      name: 'support'
    }
  ]

doctype html
html(lang="ru")
  head
    title Фонд поддержки предпринимательства Югры
    meta(charset="UTF-8")
    each item in meta
      meta(name=item.name, content=item.content)
    link(rel="stylesheet", href="css/main.css")
  body(style="overflow: hidden")
    main.index-menu
      h3 Список страниц в проекте
      ol
        each page in pages
          li
            a(href= page.name + '.html')= page.label
