extends layout

block scripts
  script(src="js/app/animation.js")

block content

  -
    var eventButtons = [
      {
        name: 'Январь',
        count: 11,
        active: false
      },
      {
        name: 'Февраль',
        count: 14,
        active: true
      },
      {
        name: 'Март',
        count: 8,
        active: false
      },
      {
        name: 'Апрель',
        count: 11,
        active: false
      },
      {
        name: 'Май',
        count: 21,
        active: false
      },
      {
        name: 'Июнь',
        count: 6,
        active: false
      },
      {
        name: 'Июль',
        count: 4,
        active: false
      },
      {
        name: 'Август',
        count: 12,
        active: false
      },
      {
        name: 'Сентябрь',
        count: 7,
        active: false
      },
      {
        name: 'Октябрь',
        count: 13,
        active: false
      },
      {
        name: 'Ноябрь',
        count: 10,
        active: false
      },
      {
        name: 'Декабрь',
        count: 16,
        active: false
      }
    ]

  main.main
    #animation-trigger-1
    .swiper-container.main-slider.js-main-slider
      .main-slider-buttons.wrapper
        button(type="button").swiper-button-prev.main-slider__prev.js-prev
        button(type="button").swiper-button-next.main-slider__next.js-next
      .swiper-wrapper
        .swiper-slide.main-slide(style="background-image: url('images/slider-1.png')")
          .wrapper.js-main-slide-desc
            h1 Заголовок слайда 1
            .main-slide__desc.
              Специальный проект для тех, кто хочет привлечь инвестиции для развития
              своего проекта или найти проект для вложения своих инвестиций
            .main-slide__times
              .main-slide__times-line 09.01 — 15.03
                span Срок подачи заявок
              .main-slide__times-line 17.03 — 25.04
                span Образовательный этап
            .flex
              a(href="#").button.big Подать заявку
              a(href="#").button.transparent Узнать подробнее
        .swiper-slide.main-slide(style="background-image: url('images/slider-2.png')")
          .wrapper.js-main-slide-desc
            h1 Заголовок слайда 2
            .main-slide__desc.
              Специальный проект для тех, кто хочет привлечь инвестиции для развития
              своего проекта или найти проект для вложения своих инвестиций
            .main-slide__times
              .main-slide__times-line 09.01 — 15.03
                span Срок подачи заявок
              .main-slide__times-line 17.03 — 25.04
                span Образовательный этап
            .flex
              a(href="#").button.big Подать заявку
              a(href="#").button.transparent Узнать подробнее
        .swiper-slide.main-slide(style="background-image: url('images/slider-3.png')")
          .wrapper.js-main-slide-desc
            h1 Заголовок слайда 3
            .main-slide__desc.
              Специальный проект для тех, кто хочет привлечь инвестиции для развития
              своего проекта или найти проект для вложения своих инвестиций
            .main-slide__times
              .main-slide__times-line 09.01 — 15.03
                span Срок подачи заявок
              .main-slide__times-line 17.03 — 25.04
                span Образовательный этап
            .flex
              a(href="#").button.big Подать заявку
              a(href="#").button.transparent Узнать подробнее
      .main-slider-bottom
        .wrapper
          .main-slider-pag
            .main-slider-pag__item
              span.js-timer
            .main-slider-pag__item
              span.js-timer
            .main-slider-pag__item
              span.js-timer
          #animation-1.animation.main-numbers
            .main-numbers__item
              h5 1 217
              p Всего оказано услуг
            .main-numbers__item
              h5 596
              p Предоставлено информационных и консультационных услуг
            .main-numbers__item
              h5 136
              p Предоставлено услуг в сфере обучения
            .main-numbers__item
              h5 10
              p Предоставлено услуг в сфере обучения
            .main-numbers__item
              h5 45
              p Субъектов получили имущественную поддержку
    .wrapper
      h2 Новости
      .main-news
        .main-news-top
          .main-news__item.big(style="background-image: url('images/news-big-1.png')")
            .main-news__item-inner
              h3.
                От мотивации до регистрации.<br>В Югре стартует онлайн обучение
                основам организации и ведения бизнеса
              p.
                1 февраля 2018 года Фонд поддержки предпринимательства Югры
                запускает дистанционную обучающую программу «Основы организации
                и ведения бизнеса» для тех, кто желает открыть своё дело.
              .bottom
                .left
                  .date.fixed 18 февраля 2018
                .right
                  a(href="#").button.transparent.white-border Узнать больше
                  a(href="#").button.mar-left Подать заявку
          .main-news-col
            a(href="#", style="background-image: url('images/news-small-1.png')").main-news__item
              .main-news__item-inner
                p
                  b.
                    При наведении блок становится темнее для того, чтобы можно
                    было легко прочитать описание новости
                .bottom
                  .right
                    .date.fixed 1 февраля 2018
            a(href="#", style="background-image: url('images/news-small-2.png')").main-news__item
              .main-news__item-inner
                p
                  b Интенсив-тренинг «Психология продаж»
                .bottom
                  .right
                    .date.fixed 1 февраля 2018
        .main-news-bottom
          a(href="#", style="background-image: url('images/news-small-3.png')").main-news__item
            .main-news__item-inner
              p
                b «Гармоничное управление персоналом. Ключевые инструменты руководства»
              .bottom
                .right
                  .date 1 февраля 2018
          a(href="#", style="background-image: url('images/news-small-4.png')").main-news__item
            .main-news__item-inner
              p
                b Ирина Токарева — участница первой инвестиционной сессии
              .bottom
                .right
                  .date 1 февраля 2018
          a(href="#", style="background-image: url('images/news-small-5.png')").main-news__item
            .main-news__item-inner
              p
                b Программа «Азбука предпринимателя»
              .bottom
                .right
                  .date 1 февраля 2018
        .center
          // во время ajax-запроса добавить атрибут disabled
          button(type="button").button.blue-text.icon-left.load Показать еще

    .events
      .events-top
        .events-left
          .events-inner
            h2 Обучающие мероприятия
            .events-months
              each item in eventButtons
                if (item.active)
                  button(type="button").events-months__button.active= item.name
                    span= item.count
                else
                  button(type="button").events-months__button= item.name
                    span= item.count
        .events-right
          .events-filter
            select(data-placeholder="Город").select.with-icon.point.js-select
              option(value="1") Москва
              option(value="2") Санкт-Петербург
              option(value="3") Ханты-Мансийск
            select(data-placeholder="Тренер").select.with-icon.person.js-select
              option(value="1") Иванов А.С.
              option(value="2") Петров Ф.В.
              option(value="3") Кульков И.Я.
            select(data-placeholder="Тип мероприятия").select.with-icon.event.js-select
              option(value="1") Творческое
              option(value="2") Профессиональное
              option(value="3") Координальное
            select(data-placeholder="Проект").select.with-icon.project.js-select
              option(value="1") Старт
              option(value="2") Бизнес
              option(value="3") Вуман
            .calendar
              // календарь пока что от jquery ui, при разработке возможна смена
              input(type="text", value="Календарь", readonly).calendar__input.js-calendar
          .events-right-wrapper
            .events-list
              each item in [0, 1]
                .events-block
                  .events-date
                    h5 1
                    | пн
                  .events__item
                    a(href="#").events__item-link.place Урай
                    .events__item-title.
                      Круглый стол «Взаимодействие контрольно-надзорных органов
                      и власти с бизнес-сообществом»
                    a(href="#").events__item-link Центр инноваций социальной сферы
                    .events__item-times
                      .left Начало: 01.02 16:00
                      .right Окончание: 02.02 20:00
                  .events__item
                    a(href="#").events__item-link.place Октябрьское
                    .events__item-title Очный курс «Основы организации ведения бизнеса»
                    .events__item-times
                      .left Начало: 01.02 16:00
                      .right Окончание: 02.02 20:00
                  .events__item
                    a(href="#").events__item-link.place Ханты-Мансийск
                    .events__item-title Программа «Азбука<br>предпринимателя»
                    .events__item-times
                      .left Начало: 01.02 16:00
                      .right Окончание: 02.02 20:00
                .events-block
                  .events-date
                    h5 6
                    | ср
                  .events__item
                    a(href="#").events__item-link.place Ханты-Мансийск
                    .events__item-title.
                      Тренинг "Юридические аспекты предпринимательства
                      и система налогообложения"
                    .events__item-times
                      .left Начало: 01.02 16:00
                      .right Окончание: 02.02 20:00
                  .events__item
                    a(href="#").events__item-link.place Лангепас
                    .events__item-title.
                      Интенсив-тренинг "Как Ценностное предложение увеличит продажи в 2 раза"
                    .events__item-times
                      .left Начало: 01.02 16:00
                      .right Окончание: 02.02 20:00
                  .events__item
                    a(href="#").events__item-link.place Ханты-Мансийск
                    .events__item-title Интенсив «Психология продаж»
                    .events__item-times
                      .left Начало: 01.02 16:00
                      .right Окончание: 02.02 20:00
      .events-bottom
        .wrapper
          .swiper-container.publications.js-slider
            .publications-top
              h2 Имущественная поддержка
              .publications-controls
                button(type="button").publications-controls__prev.js-prev
                button(type="button").publications-controls__next.js-next
            .swiper-wrapper
              each item in [0, 1]
                a(href="#").swiper-slide.publications__item
                  .publications__item-title.
                    Извещение о проведении конкурса № 15/18 по предоставлению
                    поддержки в форме предоставления нежилых помещений в субаренду субъектам …
                  .date 20 февраля 2018
                a(href="#").swiper-slide.publications__item
                  .publications__item-title.
                    Извещение о проведении конкурса № 14/18 по предоставлению
                    поддержки в форме предоставления нежилых помещений в субаренду субъектам …
                  .date 19 февраля 2018
                a(href="#").swiper-slide.publications__item
                  .publications__item-title.
                    Извещение о проведении конкурса № 13/18 по предоставлению
                    поддержки в форме предоставления нежилых помещений в субаренду субъектам …
                  .date 18 февраля 2018
            a(href="#").button.blue Все публикации

    .soc.center
      .wrapper
        button(type="button", data-target="#vk").soc-tab.js-tab.active Вконтакте
        button(type="button", data-target="#fb").soc-tab.js-tab Facebook
        #vk.soc-hidden(style="display: block")
          .soc-wrap
            ul.soc-people
              each row in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
                li
                  img(src="images/people-1.jpg")
                li
                  img(src="images/people-2.jpg")
                li
                  img(src="images/people-3.jpg")
                li
                  img(src="images/people-4.jpg")
            .soc-counter 14576<br>участников
          a(href="#").button.blue.so-big Присоединиться
        #fb.soc-hidden
          .soc-wrap
            ul.soc-people
              each row in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
                li
                  img(src="images/people-4.jpg")
                li
                  img(src="images/people-3.jpg")
                li
                  img(src="images/people-2.jpg")
                li
                  img(src="images/people-1.jpg")
            .soc-counter 1914<br>участников
          a(href="#").button.blue.so-big Присоединиться

    .partners-block
      .wrapper
        .swiper-container.partners.js-slider
          .publications-top
            h2 Ресуры партнеров
            .publications-controls
              button(type="button").publications-controls__prev.js-prev
              button(type="button").publications-controls__next.js-next
          .swiper-wrapper
            each item in [0, 1]
              a(href="#", style="background-image: url('images/partner-1.jpg')").swiper-slide.partners__item
              a(href="#", style="background-image: url('images/partner-2.jpg')").swiper-slide.partners__item
              a(href="#", style="background-image: url('images/partner-3.jpg')").swiper-slide.partners__item
              a(href="#", style="background-image: url('images/partner-4.jpg')").swiper-slide.partners__item
