extends layout

include mixins/breadcrumbs

block content

  main.main.detail
    .wrapper
      +breadcrumbs('Главная', 'О фонде', 'Новости')
      h1 Новости
      include includes/detail-menu

      .news-detail
        img(src="images/news-big-1.png").news-detail__img
        .news-detail-desc
          .date.gray 12.12.2018
          p.
            В Ханты-Мансийске выбирают самых эффективных менеджеров.
            Сегодня в окружной столице стартовал Кубок управления бизнесом
            «Точка роста». Он проходит в Югре на протяжении десяти лет. Свои
            силы команды со всего округа будут пробовать в крупнейшей в мире
            интерактивной образовательной программе.
          p.
            Виктор Лучинин вместе со своей командой на «Точке роста» не новичок. Из
            Югорска в Ханты-Мансийск на интеллект-состязания они приезжают уже в
            четвёртый раз. Рассказывают, что бизнес-обучение помогает понять работу
            различных подразделений большой компании как единого организма. Непростые
            задачи задаёт игровой симулятор – по сути компьютер. Уровень каждой – очень высокий.
          p.
            Виктор Лучинин, участник Кубка Югры по управлению бизнесом «Точка роста», г. Югорск:
            «Когда ты в начале своего жизненного пути, любая информация об управлении компанией,
            о её внутреннем устройстве будет полезна в рамках последующего трудоустройства,
            даже если ты начнёшь индивидуальную деятельность».
          p.
            Все участники стартуют в одинаковых условиях. Им предстоит решить пять задач так,
            чтобы в итоге среди конкурентов иметь самый высокий показатель инвестиционной
            привлекательности. Принимая решения в виртуальных условиях, игроки не рискуют
            ни деньгами, ни репутацией и могут без страха попробовать нестандартные бизнес-ходы,
            на которые не решились бы в обычной практике. В этом году в «Точке роста» состязаются
            16 команд, чемпионат проходит в пять раундов.
          p.
            Сергей Стручков, генеральный директор Фонда поддержки предпринимательства Югры:

            «Эти компетенции, эти навыки люди применяют потом в собственном бизнесе, и те, кто
            являются наёмными работниками в компаниях малого и среднего предпринимательства,
            и собственники-основатели компаний. Конечно, для людей это отличный практический навык».
          p.
            Свои силы в построении бизнес-стратегий сегодня пробуют и студенты из Сургута, Югорска,
            Ханты-Мансийска и Нижневартовска. И от них тоже ждут высоких результатов.
          p.
            Вячеслав Шоптенко, директор института организационного развития и стратегических инициатив
            РАНХиГС, г. Москва: «Завтра у нас будет впервые в стране пилотный формат на уровне
            федерального округа. Шесть субъектов делегируют свои лучшие студенческие команды сюда,
            в Ханты-Мансийск. И сегодня у нас 16 лучших команд округа из 140 претендентов
            соревнуются за право представлять округ уже в десятый раз на национальном финале в Москве».
          p.
            Добавим, что завтра в финале УрФО примут участие сразу две югорские команды,
            одна из них – это сборная округа, а вторая – та, что победит сегодня.

      p.source
        b Связанные мероприятия:
        br
        a(href="#") Нефтеюганск – 23 марта
        br
        a(href="#") Ханты-Мансийск – 26 марта

      p.source <b>Источник:</b> <a href="#">ВГТРК "Югория"</a>

      h3 Видео
      .video-block
        .video.center
          a(href="#").video__link
            img(src="images/video.jpg")

      .swiper-container.gallery.js-slider
        .publications-top
          h3 Фото
          .publications-controls
            button(type="button").publications-controls__prev.js-prev
            button(type="button").publications-controls__next.js-next
        .swiper-wrapper
          each item in [1, 2, 3, 4, 5, 6]
            a(href='images/gallery-' + item + '.jpg', data-fancybox="gal-1").swiper-slide.gallery-item
              .gallery-item__img(style="background-image: url('images/gallery-" + item + ".jpg')")
