extends layout

include mixins/breadcrumbs

block content

  main.main.detail
    .wrapper
      include includes/detail-menu
      +breadcrumbs('Главная', 'О фонде', 'Официально')
      h1 Заголовок страницы
      h3.blue Надёжный поручитель
      .inform
        .inform-left
          img(src="images/cup.svg")
        .inform-right
          .inform-title Объявлены победители конкурса
          .inform-desc.
            Пример отображения информации об изменении условий проекта или о смене его
            статуса для уведомления пользователей <a href="#">об изменениях</a>
      p.
        Для развития успешного бизнеса необходимы денежные вливания.
        Где взять деньги? Можно найти инвестора и отдавать ему свою прибыль.
        А можно взять кредит в банке. Но там нужен залог. Что делать если собственного
        имущества недостаточно для залога или нет желания накладывать на него обременение?
      p.
        Здесь самое время обратиться в Фонд поддержки предпринимательства Югры.
        Ведь основное направление Фонда – это предоставление поручительств для
        субъектов малого и среднего предпринимательства на развитие бизнеса без
        залога их собственных средств. Для этого разработана специальная Программа
        «Гарантия». Фонд обеспечит до 70% требуемого залога и станет поручителем
        перед кредитной организацией.

      .gray-block.flex
        .left
          b Мы ждем Ваших экспертных заключений
        .right
          button(type="button").button Направить заключение

      br
      br

      .presets
        .presets-controls
          button(type="button", data-target="#mentors").presets__button.js-preset.active Наставники
          button(type="button", data-target="#instructed").presets__button.js-preset Наставляемые
        section#mentors
          .news-item
            a(href="#", style="background-image: url('images/presets-1.jpg')").news-item__img
            .news-item-right
              a(href="#").news-item__name Макар Копылов
              p.
                Заместитель директора по маркетингу, соучредитель ООО «Юридическое лицо».
                Опыт работы – 13 лет. Оказывает помощь в вопросах экономики управления
                предприятием, различных аспектов ведения бизнеса, маркетинга, оптимизации
                внутренней организации предприятия, ведения переговоров, ценообразования,
                менеджмента, технико-экономического анализа и статистики.
          .news-item
            a(href="#", style="background-image: url('images/presets-2.jpg')").news-item__img
            .news-item-right
              a(href="#").news-item__name Ярослав Савин
              p.
                Генеральный директор ООО «НВ-Трейд», 8 лет в бизнесе в сферах: торговля
                (розница, опт), строительство (инженерные сети).
          .center
            // добавить атрибут disabled во время ajax-запроса
            button(type="button").button.blue-text.icon-left.load Загрузить еще
        section#instructed(hidden)
          .news-item
            a(href="#", style="background-image: url('images/presets-3.jpg')").news-item__img
            .news-item-right
              a(href="#").news-item__name Наталья Киосе
              p.
                Предприниматель, директор АНО ЦТиК «Веста», учредитель сети логопедических
                центров «Речетория», логопед высшей квалификационной категории,
                МВА (мастер делового администрирования), кандидат педагогических наук,
                эксперт в области системы менеджмента качества.
          .center
            button(type="button", disabled).button.blue-text.icon-left.load Загрузить еще

      br
      br

      h3.blue Видеоплеер 1
      .video-block.big
        .video
          a(href="#").video__link
            img(src="images/video.jpg")
          .video-title Заголовок видеоролика
          .video-desc Пример описания видеоролика для примера отображения лида в данном блоке

      br
      br

      h3.blue Видеоплеер 2
      .video-block
        .video
          a(href="#").video__link
            img(src="images/video.jpg")
          .video-title Заголовок видеоролика
          .video-desc Пример описания видеоролика для примера отображения лида в данном блоке
        .video
          a(href="#").video__link
            img(src="images/video.jpg")
          .video-title Пример второго видеоролика
          .video-desc Пример описания видеоролика для примера отображения лида в данном блоке
        .video
          a(href="#").video__link
            img(src="images/video.jpg")
          .video-title Заголовок видеоролика
          .video-desc Пример описания видеоролика для примера отображения лида в данном блоке
        .video
          a(href="#").video__link
            img(src="images/video.jpg")
          .video-title Пример второго видеоролика
          .video-desc Пример описания видеоролика для примера отображения лида в данном блоке
      .center
        // во время ajax-запроса добавить атрибут disabled
        button(type="button").button.blue-text.icon-left.load Показать еще

      br
      br

      h3.blue Калькулятор расчета компенсации
      form(action="#").form
        .form-control
          .form-control-left
            label(for="control-1").form-control__label
              | Поддержка не предоставляется субъектам, осуществляющим следующие виды деятельности:
          .form-control-right
            select#control-1(data-placeholder="Выберите отрасль").select.js-sumo.full
              each item in [1, 2, 3, 4, 5]
                option(value="1") Отрасль права
                option(value="2") Народное хозяйство
                option(value="3") Отрасль экономики
            br
            br
            input(type="checkbox", id="check-select", name="check-select").form-control__check
            label(for="check-select").form-control__label.no-mar Деятельность не представлена в списке

        .form-control
          .form-control-left
            label(for="control-2").form-control__label Дата договора:
          .form-control-right
            .form-control-calendar
              input(type="text", placeholder="Выберите дату", readonly)#control-2.form-control__input.js-calendar
        .form-control
          .form-control-left
            label(for="control-3").form-control__label Сумма, рублей:
          .form-control-right
            input(type="text", placeholder="1 234 567")#control-3.form-control__input
        .form-control
          .form-control-left
            label(for="control-4").form-control__label Дата окончания гашения договора:
          .form-control-right
            .form-control-calendar
              input(type="text", placeholder="Выберите дату", readonly)#control-4.form-control__input.js-calendar
        .form-control
          .form-control-left
            label(for="control-5").form-control__label Сумма платежей, рублей:
          .form-control-right
            input(type="text", placeholder="50 000")#control-5.form-control__input
        .form-control
          .form-control-left
            label(for="control-6").form-control__label Процентная ставка:
          .form-control-right
            input(type="text", placeholder="14%")#control-6.form-control__input
        .form-control
          .form-control-left
            label(for="control-7").form-control__label Процентная ставка:
          .form-control-right
            .form-control-calendar
              input(type="text", placeholder="Выберите дату", readonly)#control-7.form-control__input.js-calendar
        .form-control
          .form-control-left.min-pad
            label.form-control__label Деятельность связана с транспортными услугами:
          .form-control-right
            input(type="radio", name="radio-1", checked)#radio-1.form-control__radio
            label(for="radio-1").form-control__label Да
            input(type="radio", name="radio-1")#radio-2.form-control__radio
            label(for="radio-2").form-control__label Нет
        .form-control
          .form-control-left.min-pad
            label.form-control__label Деятельность связана с транспортными услугами:
          .form-control-right
            input(type="radio", name="radio-2", disabled)#radio-3.form-control__radio
            label(for="radio-3").form-control__label Да
            input(type="radio", name="radio-2", disabled, checked)#radio-4.form-control__radio
            label(for="radio-4").form-control__label Нет
            button(type="button").info.js-info
              span.info-inner.
                Субъекты предпринимательства, не менее
                50 процентов работников которых на последнюю
                отчетную дату являются инвалидами
        .form-control
          .form-control-right.form-buttons
            button(type="submit").button.blue Рассчитать сумму
            button(type="submit").button.blue-text Сбросить значения

      h3.blue Результаты расчет калькулятора
      .gray-block
        .inform-title Результаты расчета
        .inform-desc.
          Указанная сумма компенсации является ориентировочной
          и рассчитана исходя из ежемесячного гашения долга по
          кредиту равными платежами
        .result-block
          .result
            h3 603 003.16
            .inform-desc Сумма компенсации банковских<br>процентов, всего (в рублях)
          .result
            h3 46 384.86
            .inform-desc Сумма компенсации банковских<br>процентов, всего (в рублях)
        .result-controls
          a(href="#").button.blue.icon-left.mail Отправить запрос на получение поддержки
          button(type="button").button.blue.icon-left.print Распечатать расчет
          button(type="button").button.blue-text.blue-bord.icon-left.back Вернуться к калькулятору

      br
      br

      h3 Документы 1
      .file-block.two-cols
        a(href="file.docx").file
          | Типовой бизнес-план на тему: «Создание заготовительного и
          | лесопильного цеха на территории ХМАО
          span docx 1.8Мб
        a(href="file.pptx").file
          | Типовой бизнес-план на тему: «Создание заготовительного и
          | лесопильного цеха на территории ХМАО
          span pptx 1.8Мб
        a(href="file.rar").file
          | Типовой бизнес-план на тему: «Создание заготовительного и
          | лесопильного цеха на территории ХМАО
          span rar 1.8Мб
        a(href="file.xlsx").file
          | Типовой бизнес-план на тему
          span xlsx 1.8Мб
        a(href="file.pdf").file
          | Типовой бизнес-план на тему: «Создание заготовительного и
          | лесопильного цеха
          span pdf 1.8Мб
        a(href="file.zip").file
          | Типовой бизнес-план на тему: «Создание заготовительного и
          | лесопильного цеха
          span zip 1.8Мб
        a(href="file.hz").file.removed
          | Типовой бизнес-план на тему: «Создание заготовительного и
          | лесопильного цеха

      br
      br

      h3 Документы 2
      .file-block.three-cols
        a(href="file.docx").file
          | Типовой бизнес-план на тему: «Создание заготовительного и
          | лесопильного цеха на территории ХМАО
          span docx 1.8Мб
        a(href="file.pptx").file
          | Типовой бизнес-план на тему: «Создание заготовительного и
          | лесопильного цеха на территории ХМАО
          span pptx 1.8Мб
        a(href="file.rar").file
          | Типовой бизнес-план на тему: «Создание заготовительного и
          | лесопильного цеха на территории ХМАО
          span rar 1.8Мб
        a(href="file.xlsx").file
          | Типовой бизнес-план на тему
          span xlsx 1.8Мб
        a(href="file.pdf").file
          | Типовой бизнес-план на тему: «Создание заготовительного и
          | лесопильного цеха
          span pdf 1.8Мб
        a(href="file.zip").file
          | Типовой бизнес-план на тему: «Создание заготовительного и
          | лесопильного цеха
          span zip 1.8Мб

      br
      br

      h3 Нумерованный список этапов
      p.
        Для предпринимателей, которые уже работали с Фондом, получение
        следующего кредита на развитие бизнеса не вызывает нервную дрожь.
        Никто из них не начинает мучительно подсчитывать хватит ли у него
        личного имущества, чтобы передать его под залог банку.
      p.
        Максимум, что в этом случае предпринимает бизнесмен, так это делает
        один звонок. Куда? В Фонд поддержки предпринимательства Югры – своему поручителю.
      br
      ol.stages
        li.
          Субъект малого и среднего предпринимательства обращается в один<br>
          из Банков-партнеров Фонда с заявкой на получение кредита под поручительство
          Фонда – Программа «Гарантия»
        li.
          Банк рассматривает заявку Заемщика, анализирует документы и его финансовое
          состояние. Если единственное препятствие к получению кредита — это недостаточная
          залоговая база, то Банк одобряет кредит под поручительство Фонда
        li.
          Заемщик подписывает заявление на предоставление поручительства и Банк-партнер
          оперативно направляет в Фонд необходимый пакет документов
        li.
          Фонд в течение 3 (трех) рабочих дней, с момента получения заявления и пакета
          документов от Банка, принимает решение о предоставлении поручительства Заемщику
        li В случае положительного решения, заключается трехсторонний договор поручительства Фонда


      br
      br

      h3 Стандартный нумерованный список
      ol
        li.
          Субъект малого и среднего предпринимательства обращается в один<br>
          из Банков-партнеров Фонда с заявкой на получение кредита под поручительство
          Фонда – Программа «Гарантия»
        li.
          Банк рассматривает заявку Заемщика, анализирует документы и его финансовое
          состояние. Если единственное препятствие к получению кредита — это недостаточная
          залоговая база, то Банк одобряет кредит под поручительство Фонда
        li.
          Заемщик подписывает заявление на предоставление поручительства и Банк-партнер
          оперативно направляет в Фонд необходимый пакет документов
        li.
          Фонд в течение 3 (трех) рабочих дней, с момента получения заявления и пакета
          документов от Банка, принимает решение о предоставлении поручительства Заемщику
        li В случае положительного решения, заключается трехсторонний договор поручительства Фонда

      br
      br

      h3 Стандартный маркированный список
      ul
        li Субъект малого и среднего предпринимательства обращается в один
        li.
          из Банков-партнеров Фонда с заявкой на получение кредита под поручительство
          Фонда – Программа «Гарантия»
        li
          | Банк рассматривает заявку Заемщика, анализирует документы и его финансовое
          | состояние. Если единственное препятствие к получению кредита — это недостаточная
          | залоговая база, то Банк одобряет кредит под поручительство Фонда
          ul
            li.
              Заемщик подписывает заявление на предоставление поручительства и Банк-партнер
              оперативно направляет в Фонд необходимый пакет документов
            li.
              Фонд в течение 3 (трех) рабочих дней, с момента получения заявления и пакета
              документов от Банка, принимает решение о предоставлении поручительства Заемщику
        li В случае положительного решения, заключается трехсторонний договор поручительства Фонда

      br
      br

      h3 Выпадающие списки «Аккордеоны»
      .accordion
        button(type="button").accordion__button.js-accordion
          | Могут ли предприниматели выступить поручителем по договору целевого займа?
        .accordion-hidden.
          Фонд может предоставить поддержку в форме микрофинасирования. Максимальный размер
          микрозайма составляет 3 000 000 рублей. Для предпринимателей, осуществляющих свою
          деятельность не более 6 месяцев с момента государственной регистрации,
          максимальный размер микрозайма составляет 1 000 000 рублей. Максимальный
          срок использования заемных средств - 36 месяцев.
      .accordion
        button(type="button").accordion__button.js-accordion
          | Что может являться обеспечением микрозайма?
        .accordion-hidden.
          Фонд может предоставить поддержку в форме микрофинасирования.
      .accordion
        button(type="button").accordion__button.js-accordion.
          Какие виды поддержки оказывает Фонд субъектам малого и среднего предпринимательства
          зарегистрированным более 3 лет?
        .accordion-hidden.
          Фонд может предоставить поддержку в форме микрофинасирования. Максимальный размер
          микрозайма составляет 3 000 000 рублей. Для предпринимателей, осуществляющих свою
          деятельность не более 6 месяцев с момента государственной регистрации,
          максимальный размер микрозайма составляет 1 000 000 рублей. Максимальный
          срок использования заемных средств - 36 месяцев. Обязательные условия:
          регистрация и осуществление деятельности на территории автономного округа,
          отсутствие долгов по налогам и сборам, участие в реализации проекта не менее
          20 % собственных средств, обеспечение займа.
      .accordion.active
        button(type="button").accordion__button.js-accordion.
          Какие виды поддержки оказывает Фонд только зарегистрированным субъектам
          малого и среднего предпринимательства?
        .accordion-hidden(style="display: block")
          p.
            Фонд может предоставить поддержку в форме микрофинасирования. Максимальный размер
            микрозайма составляет<br>3 000 000 рублей.
          p.
            Для предпринимателей, осуществляющих свою
            деятельность не более 6 месяцев<br>с момента государственной регистрации,
            максимальный размер микрозайма составляет 1 000 000 рублей. Максимальный
            срок использования заемных средств - 36 месяцев. Обязательные условия:
            регистрация и осуществление деятельности на территории автономного округа,
            отсутствие долгов по налогам и сборам, участие в реализации проекта не менее
            20 % собственных средств, обеспечение займа.

      br
      br

      h3 Форма обратной связи
      form(action="#").form
        .form-flex
          .form-cntrl
            .form-cntrl-wrap.valid
              label(for="input-1").form-cntrl__label Ваше имя
              input(type="text", id="input-1", value="Nikita").form-cntrl__input
            .err Введите имя
          .form-cntrl
            .form-cntrl-wrap.invalid
              label(for="input-2").form-cntrl__label E-mail
              input(type="text", id="input-2", value="Abushka@гмайл.ком").form-cntrl__input
            .err Введите корректный адрес
          .form-cntrl
            .form-cntrl-wrap.valid
              label(for="input-3").form-cntrl__label Номер телефона
              input(type="text", id="input-3", value="+7 (925) 123–45–67").form-cntrl__input
            .err Введите номер телефона
        .form-cntrl
          .form-cntrl-wrap
            label(for="textarea").form-cntrl__label Введите текст сообщения
            textarea(id="textarea").form-cntrl__textarea.
              Добрый день! Меня интересует на каких условиях Вы оказываете финансовую
              поддержку стартапам в сфере телемедицины и изотерических направлений.
          .err Введите текст сообщения
        .form-flex
          .left
            img(src="images/recaptcha-demo.gif", width="228", height="60")
            input(type="checkbox", id="ch", name="ch").form-control__check
            label(for="ch").form-control__label Согласен на обработку моих пользовательских данных
          .right
            button(type="submit").button.blue.icon-left.mail Отправить сообщение

      br
      br
      br

      .swiper-container.gallery.js-slider
        .publications-top
          h3 Фотогалерея 1
          .publications-controls
            button(type="button").publications-controls__prev.js-prev
            button(type="button").publications-controls__next.js-next
        .swiper-wrapper
          each item in [1, 2, 3, 4, 5, 6]
            a(href='images/gallery-' + item + '.jpg', data-fancybox="gal-1").swiper-slide.gallery-item
              .gallery-item__img(style="background-image: url('images/gallery-" + item + ".jpg')")
              .video-title Заголовок видеоролика
              .video-desc Пример описания видеоролика для примера отображения лида в данном блоке

      br
      br

      h3 Фотогалерея 2
      .gallery.full
        each item in [1, 2, 3, 4, 5, 6]
          a(href='images/gallery-' + item + '.jpg', data-fancybox="gal-2").gallery-item
            .gallery-item__img(style="background-image: url('images/gallery-" + item + ".jpg')")
      .center
        // во время ajax-запроса добавить атрибут disabled
        button(type="button").button.blue-text.icon-left.load Показать еще

      br
      br

      h3 Фотогалерея 3
      .swiper-container.gallery.big.js-slider-big
        .swiper-wrapper
          each item in [1, 2, 3, 4, 5, 6]
            a(href='images/gallery-' + item + '.jpg', data-fancybox="gal-3").swiper-slide.gallery-item
              .gallery-item__img(style="background-image: url('images/gallery-" + item + ".jpg')")
              .gallery-item-wrap
                .gallery-item__desc
                  .video-title Заголовок видеоролика
                  .video-desc.
                    Текстовое описание изображения. Демонстрация на примере наличия
                    описания общей длиной в две строки
        .publications-controls
          button(type="button").publications-controls__prev.js-prev
          .publications-controls__counter.
            <span class="js-slide-current">1</span>
            <span class="gray">/ 6</span>
          button(type="button").publications-controls__next.js-next

      br
      br

      h3 Пример таблицы
      table.table
        tbody
          tr
            th Орган власти
            th Адрес сайта
            th Описание
          tr
            td
              b Cайт Правительства Ханты-Мансийского автономного<br>округа — Югры
            td
              a(href="http://www.admhmao.ru") www.admhmao.ru
            td Официальный веб-сайт органов государственной власти ХМАО-Югры
          tr
            td
              b Прокуратура Ханты-Мансийского автономного округа
            td
              a(href="http://www.gosuslugi.ru") www.gosuslugi.ru
            td.
              Единый портал оказания государственных услуг. Для получения функциональных
              возможностей сайта нужно пройти регистрацию.
          tr
            td
              b Управление Федеральной налоговой службы по Ханты-Мансийскому автономному округу-Югре
            td
              a(href="http://www.prokhmao.ru") www.prokhmao.ru
            td Информация о деятельности Прокуратуры ХМАО–Югры.
          tr
            td
              b Федеральная служба по надзору в сфере защиты прав потребителей и благополучия человека
            td
              a(href="http://www.r86.nalog.ru") www.r86.nalog.ru
            td.
              Информация для налогоплательщиков. Для ИП — <a href="#">здесь</a>,
              а для юр. лиц — вот <a href="#">здесь</a>.

      include includes/pagination
