extends layout

include mixins/breadcrumbs

block content

  main.main.detail
    .wrapper
      include includes/detail-menu
      +breadcrumbs('Главная', 'Формы поддержки', 'Наименование формы поддержки')
      h1 Наименование формы поддержки

      .gray-block.support-top
        .support-left
          .support-line
            .support-title Начало обучения
            .support-desc 1 феварля 2018 года
          .support-line
            .support-title Завершение обучения
            .support-desc 15 феварля 2018 года
        .support-right
          a(href="#").button Подать заявку на участие

      p.
        В 2018 году Фонд поручился за бизнесменов округа перед банками-партнёрами
        на сумму более <span class="big-text">12 млн.рублей</span>, что позволило
        бизнесменам получить кредиты и банковские гарантии на сумму порядка
        <span class="big-text">18 млн. рублей</span>

      .support-video-block
        .support-video
          iframe(src="https://www.youtube.com/embed/PSmqpjJ_c0k",
          frameborder="0", allow="autoplay; encrypted-media", allowfullscreen)
        .support-logo(style="background-image: url('images/support-logo.jpg')")

      h3 Надёжный поручитель. Как Фонд помогает бизнесу двигаться вперёд – Программа «Гарантия»

      p.
        Для развития успешного бизнеса необходимы денежные вливания. Где взять деньги?
        Можно найти инвестора и отдавать ему свою прибыль. А можно взять кредит в банке.
        Но там нужен залог. Что делать если собственного имущества недостаточно для
        залога или нет желания накладывать на него обременение?
      p.
        Здесь самое время обратиться в Фонд поддержки предпринимательства Югры. Ведь
        основное направление Фонда – это предоставление поручительств для субъектов
        малого и среднего предпринимательства на развитие бизнеса без залога их собственных
        средств. Для этого разработана специальная Программа «Гарантия»: Фонд обеспечит
        до 70% требуемого залога и станет поручителем перед кредитной организацией.

      br

      h3 Преимущества такого поручительства

      .support-benefits
        .support-benefits__item.
          Возможность получения кредита даже при отсутствии у предпринимателя собственных
          денежных средств. Или в том случае если бизнесмен не хочет передавать свое личное
          имущество в залог банку;
        .support-benefits__item.
          Простота схемы получения поручительства – достаточно обратиться в банк-партнер
          Фонда без предварительного обращения в сам Фонд;
        .support-benefits__item.
          Быстрота принятия решения о предоставлении поручительства - до 3 рабочих дней
          после подачи заявки;
        .support-benefits__item.
          Принцип одного окна - все документы, необходимые для оформления поручительства Фонда,
          предоставляются в банк-партнер.

      h3 Схема предоставления поручительства

      ol
        li.
          Субъект малого и среднего предпринимательства обращается в один из
          Банков-партнеров Фонда с заявкой на получение кредита под поручительство
          Фонда – Программа «Гарантия».
        li.
          Банк рассматривает заявку Заемщика, анализирует документы и его финансовое
          состояние. Если единственное препятствие к получению кредита – это
          недостаточная залоговая база, то Банк одобряет кредит под поручительство Фонда.
        li.
          Заемщик подписывает заявление на предоставление поручительства и Банк-партнер
          оперативно направляет в Фонд необходимый пакет документов.
        li.
          Фонд в течение 3 (трех) рабочих дней, с момента получения заявления и пакета
          документов от Банка, принимает решение о предоставлении поручительства Заемщику.
        li.
          В случае положительного решения, заключается трехсторонний договор поручительства Фонда.

      p.
        Для предпринимателей, которые уже работали с Фондом, получение следующего
        кредита на развитие бизнеса не вызывает нервную дрожь. Никто из них не
        начинает мучительно подсчитывать хватит ли у него личного имущества, чтобы
        передать его под залог банку. Максимум, что в этом случае предпринимает
        бизнесмен, так это делает один звонок. Куда? В Фонд поддержки предпринимательства
        Югры – своему поручителю.

      a(href="file.pdf").file.
        Типовой бизнес-план на тему: «Создание заготовительного и лесопильного цеха
        на территории ХМАО
      a(href="file.pdf").file Индивидуальные лимиты на финансовые организации
      a(href="file.pdf").file Порядок предоставления поручительств ФПП (ред. 26.05.2017)
      a(href="file.pdf").file.
        Порядок расчета и установления лимитов условных обязательств кредитного
        характера (лимитов поручительств) Фонда поддержки предпринимательства Югры

      br
      br
      br

      .swiper-container.gallery.big.small.js-slider-big
        .swiper-wrapper
          each item in [1, 2, 3, 4, 5, 6]
            a(href='images/gallery-' + item + '.jpg', data-fancybox="gal-3").swiper-slide.gallery-item
              .gallery-item__img(style="background-image: url('images/gallery-" + item + ".jpg')")
              .gallery-item-wrap
                .gallery-item__desc
                  .video-title Заголовок видеоролика
                  .video-desc.
                    Текстовое описание изображения. Демонстрация на примере наличия
                    описания общей длиной в две строки
        .publications-controls
          button(type="button").publications-controls__prev.js-prev
          .publications-controls__counter.
            <span class="js-slide-current">1</span>
            <span class="gray">/ 6</span>
          button(type="button").publications-controls__next.js-next

      br

      h3 Контактная информация

      .support-line
        .support-title Приём заявок для участия в проекте
        .support-desc с 9 января по 15 марта 2018г
      .support-line
        .support-title Образовательный этап
        .support-desc 17 марта по 25 апреля 2018г
      .support-line
        .support-title Инвестиционная сессия
        .support-desc 27 апреля 2018г
      .support-line
        .support-title Телефон для справок
        .support-desc 8 (3467) 333-143

      p.
        Мероприятие реализовано в рамках государственной программы
        «Социально-экономическое развитие и повышение инвестиционной
        привлекательности Ханты-Мансийского автономного округа – Югры в 2018 –
        2025 годах и на период до 2030 года».

      .partners-block
        .swiper-container.partners.js-slider
          .publications-top
            h3 Банки - партнеры
          .swiper-wrapper
            each item in [0, 1]
              a(href="#", style="background-image: url('images/partner-1.jpg')").swiper-slide.partners__item
              a(href="#", style="background-image: url('images/partner-2.jpg')").swiper-slide.partners__item
              a(href="#", style="background-image: url('images/partner-3.jpg')").swiper-slide.partners__item
              a(href="#", style="background-image: url('images/partner-4.jpg')").swiper-slide.partners__item



